$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1100 + 20;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$dark100: rgb(72, 93, 117);
$dark75: rgb(99, 112, 129);
$dark50: rgb(124, 152, 179);
$dark25: rgb(172, 203, 225);
$white: rgb(255, 255, 255);
$white75: rgba(255, 255, 255, 0.9);
$red: rgb(171, 0, 0);
$title: rgb(101, 0, 0);

$shadow20: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
$shadow50: 4px 4px 8px 0px rgba(34, 60, 80, 0.5);
$shadowinset: 4px 4px 8px 0px rgba(34, 60, 80, 0.5) inset;
$shadowinput: 0px 6px 8px 0px rgba(34, 60, 80, 0.2);

$bold: 700;
